<div class="top-container">
	<div class="title">
		<h2>JOSE CHIRIVELLA</h2>
    <div class="subtitle">
      <h5>FULL STACK WEB DEVELOPER</h5>
    </div>
  </div>
	<div class="social-icons">
		<a href="https://github.com/JoseChirivella14" target="_blank"><i class="fa fa-github"></i></a>
		<a href="https://twitter.com/Chiri14" target="_blank"><i class="fa fa-twitter"></i></a>
		<a href="https://linkedin.com/in/josechirivella/" target="_blank"><i class="fa fa-linkedin"></i></a>
    <a href="https://medium.com/@josechirivella" target="_blank"><i class="fa fa-medium"></i></a>
	</div>
</div>
<div class="about-me-container">
  <div class="title">
    <h3 class="border-primary">ABOUT ME</h3>
    <div class="subtitle">
      <h5>I'M GLAD TO MEET YOU</h5>
    </div>
  </div>
  <div class="story">
  <h5>SHORT STORY</h5>
    <p>My name is Jose. I'm a Full Stack Web Developer with experience building websites from scratch and
    manteining current ones. My experience has tough me how important is design to the user and
    encourage the user to stay in our website, that has been my job the past year. Focusing what the user
    wants and redesigning.
    </p>
  </div>
  <div class="profile-picture">
    <%= image_tag("jose_profile(edit).jpg") %>
  </div>
  <div class="personal-info">
    <h5>PERSONAL INFO</h5>
    <p class="border-primary-type-1">Name: Jose Chirivella </p>
    <p class="border-primary-type-1">Phone: +1 786.216.3571</p>
    <p class="border-primary-type-1">Email: <a href="mailto:joser.chirivella@gmail.com" target="_blank">joser.chirivella@gmail.com</a></p>
  </div>
  <div class="skills">
    <h3>MY SKILLS</h3>
    <br>
  </div>
</div>
<div class="resume-container">
  <div class="title">
    <h3 class="border-primary">RESUME</h3>
  </div>
  <div class="education">
    <h4>Education<i class="fa fa-graduation-cap"></i></h4>
    <% @education.order('date desc').each do |education| %>
      <p><i><%= education.date.strftime('%B/%Y') %></i></p>
      <p class="box-blue"><%= education.title %></p>
      <p><%= education.description %></p>
      <br>
    <% end %>
  </div>
  <div class="experience">
    <h4><i class="fa fa-suitcase"></i>Experience</h4>
    <% @experience.order('from_date desc').each do |experience| %>
      <p><i><%= experience.from_date.strftime('%B/%Y') %> - <%= experience.until.strftime('%B/%Y') %></i></p>
      <p class="box-blue"><%= experience.company %></p>
      <p><%= experience.title %></p>
      <p><%= experience.description %></p>
      <br>
    <% end %>
  </div>
</div>
<div class="portfolio-container">
  <div class="title">
    <h3 class="border-primary">PORTFOLIO</h3>
  </div>
  <div class="portfolio">
    <% @project.each do |project| %>
      <p>
        <a href="#modal" name="modal"><%= image_tag(project.background_image_url) %></a>
      </p>
      <div id="modal" class="modalwindow">
        <p>Hi</p>
        <a href="#" class="close"><i class="fa fa-times"></i></a>
      </div>
    <% end %>
  </div>
</div>