<section id="top-container">
  <div class="content">
    <div class="row">
      <div class="small-10 small-centered medium-6 columns text-center">
        <div class="title">
          <h2 class="primary-title border-primary white-text">JOSE CHIRIVELLA</h2>
          <div class="subtitle">
            <h6 class="white-text">FULL STACK WEB DEVELOPER</h6>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="small-12 small-centered columns text-center">
        <div class="social-icons">
          <a href="https://github.com/JoseChirivella14" target="_blank"><i class="fa fa-github"></i></a>
          <!-- <a href="https://www.behance.net/joserchiri1910" target="_blank"><i class="fa fa-behance"></i></a> -->
          <a href="https://linkedin.com/in/josechirivella/" target="_blank"><i class="fa fa-linkedin"></i></a>
          <a href="https://twitter.com/Chiri14" target="_blank"><i class="fa fa-twitter"></i></a>
          <a href="https://medium.com/@josechirivella" target="_blank"><i class="fa fa-medium"></i></a>
          <a href="https://dl.dropboxusercontent.com/u/48141563/ResumeJoseUpdated.pdf" target="_blank"><i class="fa fa-file-text"></i></a>
        </div>
      </div>
    </div>
  </div>

</section>
<section id="about-me-container">
  <div class="row">
    <div class="small-12 medium-6 medium-centered text-center columns">
      <div class="title">
        <h3 class="border-primary primary-title">ABOUT ME</h3>
        <div class="subtitle">
          <h6>I'M GLAD TO MEET YOU</h6>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="small-12 columns">
      <div class="story small-12 large-4 columns">
        <h5 class="secondary-title">SHORT STORY</h5>
        <p>Jose is a Full Stack Web Developer with an outgoing personality and delivering good work every day. He specializes in development with Ruby, Ruby on Rails, HTML5, CSS3, JavaScript, JavaScript libraries such as jQuery and React, JavaScript Frameworks such as Backbone.js and AngularJS.</p>
      </div>
      <div class="profile-picture small-12 large-4 columns">
        <%= image_tag('https://storage.googleapis.com/portfolio-assets/portfolio/me_cut.png') %>
      </div>
      <div class="personal-info small-12 large-4 columns">
        <h5 class="secondary-title">PERSONAL INFO</h5>
        <p class="border-primary-type-1">Name: Jose Chirivella </p>
        <p class="border-primary-type-1">Phone: +1 786.216.3571</p>
        <p class="border-primary-type-1">Email: <a href="mailto:joser.chirivella@gmail.com" target="_blank">joser.chirivella@gmail.com</a></p>
      </div>
      <!--<div class="skills">-->
        <!--<h3 class="secondary-title">MY SKILLS</h3>-->
        <!--<br>-->
      <!--</div>-->
    </div>
  </div>
</section>
<section id="resume-container">
  <div class="row">
    <div class="small-12 medium-6 medium-centered columns">
      <div class="title">
        <h3 class="border-primary primary-title text-center">RESUME</h3>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="small-12 medium-6 columns">
      <div id="education">
        <h5>Education<i class="fa fa-graduation-cap"></i></h5>
        <% @education.order('date desc').each do |education| %>
          <p><i><%= education.date.strftime('%B/%Y') %></i></p>
          <p class="box-blue"><%= education.title %></p>
          <p><%= education.description %></p>
          <br>
        <% end %>
      </div>
    </div>
    <div class="small-12 medium-6 columns">
      <div id="experience">
        <h5><i class="fa fa-suitcase"></i>Experience</h5>
        <% @experience.order('from_date desc').each do |experience| %>
          <p><i><%= experience.from_date.strftime('%B/%Y') %> - <%= experience.until.strftime('%B/%Y') %></i></p>
          <p class="box-blue"><%= experience.company %></p>
          <p><%= experience.title %></p>
          <p><%= experience.description %></p>
          <br>
        <% end %>
      </div>
    </div>
  </div>
</section>

<section id="portfolio-container">
  <div class="row">
    <div class="small-12 medium-6 medium-centered columns">
      <div class="title">
        <h3 class="border-primary primary-title text-center">PORTFOLIO</h3>
      </div>
    </div>
  </div>
	<div class="row small-up-1 medium-up-2">
		<% @project.order('created_at asc').each do |project| %>
		<div class="projects column">
			<%= link_to image_tag(project.background_image_url), project_path(project.id) %>
		</div>
		<% end %>
	</div>
</section>
