<div id="project">
  <div class="row">
    <div class="small-12 columns">
      <div class="img-project">
        <%= image_tag(@project.background_image_url) %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="small-12 columns">
      <div class="title text-center">
        <h2><%= @project.title %></h2>
        <i><%= @project.description %></i>
      </div>
      <br>
      <br>
      <div class="project-description">
        <%= simple_format(@project.advance_description) %>
      </div>
      <div class="project-links">
        <p>If you want to visit the website live, here's the <%= link_to 'link', @project.live_url, :target => '_blank' %></p>
        <% if @project.source_code_link.blank? %>
          <p>Unfortunately this project has their source code in a private repo so there's nothing to see here :(</p>
        <% else %>
          <p>Here's the <%= link_to 'link', @project.source_code_link, :target => '_blank' %> to the repository.</p>
        <% end %>
      </div>
    </div>
  </div>
</div>
