<div class="project">
  <div class="img-project">
    <%= image_tag(@project.background_image_url) %>
  </div>
  <div class="title">
    <h2><%= @project.title %></h2>
    <i><%= @project.description %></i>
  </div>
  <div class="project-description">
    <p><%= simple_format(@project.advance_description) %></p>
  </div>
  <p><%= link_to @project.title, @project.live_url, :target => '_blank' %></p>
  <p><%= @project.source_code_link %></p>
</div>